$main-z-index: 0;

* {
  box-sizing: border-box;
}

#new-post-view {
  display: none;
  margin: auto;
  position: fixed;
  text-align: center;
  z-index: $main-z-index + 1;
  background-color: rgba($color: ghostwhite, $alpha: 0.8);
  width: 100%;
  height: 100%;
}

#new-post-container {
  max-width: 600px;
  max-height: 450px;
  border: 1px solid black;
  background-color: ghostwhite;
  position: relative;
  margin: auto;
  padding: 10px;
  z-index: $main-z-index + 2;
}

#new-post-body, #new-post-title {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  overflow: wrap;
}


.post {
  display: block;
  border: 1px solid rgba($color: black, $alpha: 0.3);
  border-radius: 10px;
  max-width: 1000px;
  margin: 5px 20px;
  padding: 10px;
  overflow-wrap: break-word;
}

.post-title {
  max-width: 100%;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
}

.post-credentials {
  display: inline-block;
}

.post-edit {
  float: right;
}

.like-button {
  border: none;
  border-radius: 30px;
  background-color: #00ff627f;
  padding: 2px;
  font-size: 12px;
  &:focus {
    outline: none;
  }
}