$navbar-light-brand-color: white;

$main-z-index: 0;
$papaj: #04022137;
$shadowbanned: rgb(49, 0, 132);
$default-font-size: 16px;

$main-font: Helvetica, sans-serif;
$header-font: "Times new roman", serif;

* {
  box-sizing: border-box;
}

//////////////////////////////////////////////////////////////////////
/////////////////////////// New post section /////////////////////////
//////////////////////////////////////////////////////////////////////

.body {
  display: flex;
  flex-direction: row;
  font-size: $default-font-size;
  font-family: $main-font;
  margin-top: 3%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

@media screen and (max-width: 666px) {
  
  .ads-left-xd {
    display: none;
  }
}

@media screen and (min-width: 667px) {
    
  .ads-left-xd {
    display: block;
    order: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: red;
  }
}

svg {
  pointer-events: none;
}

#new-post-view, #reactions-interface-container {
  display: none;
  margin: auto;
  position: fixed;
  text-align: center;
  top: 0%;
  z-index: $main-z-index + 1;
  /*background-color: rgba($color: ghostwhite, $alpha: 0.8);*/
  backdrop-filter: blur(2.137px);
  width: 100%;
  height: 100%;
}

#new-post-container, #reactions-interface-wrapper {
  max-height: 450px;
  border: 1px solid black;
  background-color: ghostwhite;
  position: relative;
  margin: auto;
  padding: 10px;
  z-index: $main-z-index + 2;
}

#new-post-container {
  max-width: 600px;
  top: 15%;
  border-radius: 10px;
}

#reactions-interface-wrapper {
  max-width: 350px;
  top: 30%;
}

#new-post-body, #new-post-title {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  overflow: wrap;
}

#new-post-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  $diameter: 40px;
  text-align: center;
  height: $diameter;
  width: $diameter;
  border-radius: 100%;
  z-index: $main-z-index + 2137;
}

///////////////////////////////////////////////////////////////
///////////////////////  Post section  ////////////////////////
///////////////////////////////////////////////////////////////


.content-wrapper {
  position: relative;
  margin: auto;
  margin-left: 0;
  order: 1;
}

#posts-view {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 5px 20px;
}

.post {
  position: relative;
  display: block;
  border: 1px solid rgba($color: black, $alpha: 0.3);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  overflow-wrap: break-word;
  background-color: ghostwhite;
  box-shadow: 2px 4px 21.37px $papaj;
}

.post-shadowbanned {
  box-shadow: 2px 4px 21.37px $shadowbanned;
}

@media screen and (max-width: 666px) {
  .post {
    width: 90%
  }
}

@media screen and (max-width: 1100px) {
  .post {
    width: 100%;
    min-width: 400px;
    max-width: 750px;
  }
}

@media screen and (min-width: 1101px) {
  .post {
    width: 800px;
  }
}

.post-title {
  max-width: 100%;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
  font-family: $header-font;
  font-size: 1.2em;
}

.post-credentials {
  display: inline-block;
}

.post-edit {
  float: right;
}

.like-button {
  border: none;
  border-radius: 30px;
  background-color: #00ff627f;
  padding: 2px;
  font-size: 12px;
  &:focus {
    outline: none;
  }
}

#follow-wrapper {
  display: flex;
  align-items: center;
}

#follow-btn {
  width:  30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("https://static.thenounproject.com/png/4110874-200.png");
  background-size: cover;
}

.has-title {
  font-weight: 420.69;
}

.no-title, .no-reactions {
  color: rgba(0, 0, 0, 0.371);
  font-style: italic;
  font-weight: 213.7;
}

.post-edit-title {
  width: 100%;
  margin-bottom: 5px;
}

.post-edit-body {
  width: 100%;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
}

.post-likes {
  display: flex;
}

input.like-button {
  margin-right: 10px;
}

.reaction {
  display: inline-flex;
  margin-left: 10px;

  &:after {
    position: absolute;

    content: attr(data-count);
    font-size: 0.4em;
    background-color: rgb(47, 0, 91);
    color: ghostwhite;
    border-radius: 2137px;
    height: fit-content;
    width: fit-content;
    object-fit: cover;
    padding: 0 5px;
  }
}

.post-reactions-wrapper {
  max-width: 100%;
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);


}

.post-reactions-container {
  vertical-align: middle;
  display: inline-flex;
}

.post-reactions-interface {
  display: inline-flex;
  transform: translateY(18%);
}


.reaction-btn {
  position: relative;
  transform: translateY(-3%);
}

.reactions-announcer {
  margin-left: 5px;
  height: fit-content;
}

.reaction-category {
  z-index: 3241234646763;
  font-size: 2em;
}

.reaction-active {
  box-shadow: 0px 0px 15px springgreen inset;
  border-radius: 2137px;
}

.no-reactions {
  position: relative;
  font-size: $default-font-size - 2px;
  margin-left: 10px;
  top: -10%;
}

#reactions-interface {
  display: flex;
  justify-content: space-evenly;

  & .reaction-category :hover {
    transform:    scale(3);
    -o-transform: scale(3);
    cursor: pointer;

    & span {
      font-size: 1.1em;
    }
  }
}

.post-reactions {
  font-size: 1.61803398874989484820458683436563811772030917980576286213544862270526046281890244970720720418939113748475em; // Golden ratio. Quite accurate, isn't it?
  vertical-align: middle;
}

.post-credentials {
  font-size: 0.8em;
}

input, textarea {
  background-color: #009bff08;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 10px;
}