$main-z-index: 0;

* {
  box-sizing: border-box;
}

// New post section

.body {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 666px) {
  
  .ads-left-xd {
    display: none;
  }
}

@media screen and (min-width: 667px) {
    
  .ads-left-xd {
    display: block;
    order: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: red;
  }
}

svg {
  pointer-events: none;
}

#new-post-view {
  display: none;
  margin: auto;
  position: fixed;
  text-align: center;
  z-index: $main-z-index + 1;
  /*background-color: rgba($color: ghostwhite, $alpha: 0.8);*/
  backdrop-filter: blur(2.137px);
  width: 100%;
  height: 100%;
}

#new-post-container {
  max-width: 600px;
  max-height: 450px;
  border: 1px solid black;
  background-color: ghostwhite;
  position: relative;
  margin: auto;
  padding: 10px;
  z-index: $main-z-index + 2;
}

#new-post-body, #new-post-title {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  overflow: wrap;
}

#new-post-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  $diameter: 40px;
  text-align: center;
  height: $diameter;
  width: $diameter;
  border-radius: 100%;
  z-index: $main-z-index + 2137;
}


// Post section

.content-wrapper {
  position: relative;
  margin: auto;
  margin-left: 0;
  order: 1;
}

#posts-view {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 5px 20px;
}


.post {
  position: relative;
  display: block;
  border: 1px solid rgba($color: black, $alpha: 0.3);
  border-radius: 10px;
  margin: 5px 0px;
  padding: 10px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 666px) {
  .post {
    width: 90%
  }
}

@media screen and (max-width: 1100px) {
  .post {
    width: 100%;
    min-width: 400px;
    max-width: 750px;
  }
}

@media screen and (min-width: 1101px) {
  .post {
    width: 800px;
  }
}

.post-title {
  max-width: 100%;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.1);
}

.post-credentials {
  display: inline-block;
}

.post-edit {
  float: right;
}

.like-button {
  border: none;
  border-radius: 30px;
  background-color: #00ff627f;
  padding: 2px;
  font-size: 12px;
  &:focus {
    outline: none;
  }
}

#follow-wrapper {
  display: flex;
  align-items: center;
}

#follow-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("https://static.thenounproject.com/png/4110874-200.png");
  background-size: cover;
}

.title {
  font-weight: 420.69;
}

.no-title {
  color: rgba(0, 0, 0, 0.371);
  font-style: italic;
  font-weight: 213.7;
}