{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'auctions/media/pentagram.jpg' %}">
    </head>
    <body>

        <div id="title-header">
            <img class="header-icon" src="{% static '/auctions/media/pentagram.png' %}" alt="Error">
            Black market
            <img class="header-icon" src="{% static '/auctions/media/pentagram.png' %}" alt="Error">
        </div>
        
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'view-watchlist' %}" class="nav-link">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create-auction' %}" >Create Auction</a>
                </li>
                {% if user.has_won_auctions %}
                    <li class="nav-item">
                        <a href="{% url 'view-won-auctions' %}" class="nav-link">Won auctions</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="/admin/" class="nav-link admin-only">Administration panel</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
