{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        {% include './new_post.html' %}
    {% endif %}

    <div class="ads-left-xd"></div>
    <div class="content-wrapper">
        <div id="posts-view">
            {% for post in page_obj %}
                {% include "./post.html" %}
            {% empty %}
                No posts
            {% endfor %}
            <div id="pagination-wrapper">
                {% include './pagination.html' %}
            </div>
        </div>
    </div>

    
{% endblock %}