{% load static %}

<div id="new-post-btn" class="add-stuff-button" title="Add a new post">
    <svg id="new-post-interface-opener" width="40" height="40"
        {% include './add_stuff_svg_guts.html' %}
    </svg>
</div>


<div id="new-post-view">
    <div id="new-post-container">
        <form id="new-post-form" action="">
            {% csrf_token %}
            {{ new_post_form }}
            <input type="submit" value="Submit">    
        </form>
        <button id="new-post-close-btn">&#10006</button>
    </div>
</div>
<script src="{% static 'network/scripts/new_post.js' %}"></script>