{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated and user.id == profile.id %}
        {% include './new_post.html' %}
    {% endif %}

    <div class="ads-left-xd"></div>
    <div class="content-wrapper">

        <h1 id="profile-header">{{ profile.username|title }}</h1>
        
        <div id="followers-wrapper">
            Followers: <span id="followers-counter">{{ followers }}</span>
        </div>
        <div id="following-wrapper">
            Following: <span id="following-counter">{{ following }}</span>
        </div>

        {% if user.is_authenticated and not user.id == profile.id %}
            {% include './follow.html' %}
        {% endif %}

        {% if user.is_superuser and not profile.is_superuser %}
            {% include './shadowban.html' %}
        {% endif %}

        <h3 id="profile-posts-header">{{ profile.username|title }}'s posts</h3>
        <div class="posts-view">
            {% for post in page_obj %}
                {% include "./post.html" %}
            {% empty %}
                {{ profile.username|title }} has not created any posts yet.
            {% endfor %}

            <div id="pagination-wrapper">
                {% include './pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}